@font-face {
    font-family: 'PKMN';
    src:    url('font/pokemon-red-blue-yellow-de-it-fr-es-gb.ttf')
            format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border: none;
    background: none;
    outline: none;
    font-family: 'PKMN';
}

input::placeholder {
    color: #000;
}

#pokemon-name {
    text-align: start;
    padding-left: 1rem;
    font-size: 1.4rem;
    width: 290px;
    border: 1px solid #f1f1f1;
    border-radius: 50px;
    background: #f1f1f1b9;
}

#pokemon-id {
    font-size: 1.4rem;
    text-align: center;
    width: 70px;
}

button {
    cursor: pointer;
    font-size: 2rem;
    width: 100px;
    height: 50px;
    font-family: 'PKMN';
    background: #f1f1f193;
    border: #000 solid 1px;
    border-radius: 50px;
}

.idContainer {
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(45deg, #f1f1f1, #0f0f0f);
}

.pokedex {
    font-family: 'PKMN';
    position: relative;
    height: 800px;
    width: 400px;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #f1f1f1;
    border-radius: 30px;
    transition: all 0.5s linear;
}

.pokedexHeader {
    width: 100%;
    height: 50px;
    top: 10px;
    display: flex;
    justify-content: space-evenly;
}



.pokedexImg img {
    height: 90%;
    width: 100%;
    width: auto;
    border: 1px solid #f1f1f1;
    border-radius: 10%;
    margin: 5px;
    background: #f1f1f1b9;
    transition: all 0.5s linear;
}

.pokedexImg {
    height: 300px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: all 0.5s linear;

}

.pokeTypes span {
    background: #f1f1f153;
    border: #000 solid 1px;
    padding: 10px;
    border-radius: 20px;
    margin: 0 0.2rem;
    transition: all 0.5s linear;
}

.pokedexStat {
    width: 85%;
    height: 250px;
    background: #f1f1f1b9;
    border: 1px solid #000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.pokedexStatItem {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokedexStatItem h2 {
    font-size: 1rem;
}

.stat-bar {
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 0.6rem;
}

.bar-outer {
    display: flex;
    width: 100%;
    height: 0.5rem;
    border: 1px solid #000000b4;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
    /* background-color: #f1f1f1db; */
}

.bar-inner-hp,
.bar-inner-atk,
.bar-inner-def,
.bar-inner-vit {
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}